.wrapper {
    word-wrap: break-word;
    color: #292929;
    font-size: 1.8rem;
    font-size: var(--font-size, 1.8rem);
    line-height: 2;
    line-height: var(--line-height, 2);

    blockquote {
        border-left: 3px solid var(--primary-color);
        color: #757575;
        margin-left: 0;
        padding: 0 0 2px 20px;
    }

    a[href] {
        color: var(--primary-color);
        text-decoration: underline;
    }

    p {
        margin: 6px 0;
    }
    img {
        max-width: 100%;
        object-fit: contain;
        height: fit-content;
    }

    //
    .MarkdownParser_wrapper__JYN63 code:not([class]) {
        background-color: rgba(96, 125, 139, 0.2);
        border-radius: 3px;
        padding: 3px 4px;
        white-space: pre-wrap !important;
    }

    ul li {
        list-style: disc;
    }
}
