.wrapper {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 9px 16px;
    min-width: 100px;
    font-weight: 500;
    font-size: 1.6rem;
    font-family: var(--font-family);
    background-color: var(--white-color);
    border-radius: 8px;
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
}

// .wrapper + .wrapper {
//     margin-left: 10px;
// }

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

// Toggle button
.switch {
    position: absolute;
    right: 6%;
    top: 50%;
    transform: translateY(-50%);
    display: inline-flex;
    width: 40px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    transform: translate(17px, -10px);
    //
    //     -webkit-transform: translateX(20px);
    //     -ms-transform: translateX(20px);
    //     transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
