.wrapper {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--default-layout-header-height);
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    z-index: 10;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--default-layout-width);
    padding: 0 26px;
}

.logo,
.body,
.actions {
    display: flex;
    align-items: center;
}

.actions {
    justify-content: flex-end;
}

.logo-link {
    display: flex;
    flex-direction: column;

    .icon {
        font-size: 2.4rem;
        margin-bottom: 4px;
    }

    strong {
        font-size: 1.4rem;
        line-height: 1.5rem;
    }

    &:hover {
        color: var(--primary-color);
    }
}

.btn-action {
    font-size: 2rem;
    padding: 8px;
    margin-left: 6px;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    user-select: none;

    svg {
        min-width: 30px;
    }

    span {
        font-size: 1.6rem;
    }

    span.active {
        font-weight: 700;
    }
}

.btn-back {
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    margin-left: 16px;
    font-size: 1.4rem;
    color: #808990;
    transition: all ease 0.3s;
    text-transform: uppercase;
    cursor: pointer;

    & svg {
        font-size: 1.4rem;
        transition: 0.3s ease;
        margin-right: 4px;
    }

    &:hover svg {
        transform: translateX(-4px);
    }
}
