.wrapper {
    box-shadow: 0 -4px 32px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: var(--white-color);
    overflow: hidden;
    animation: fadeIn 0.3s ease;
    transition: all 0.3s ease-in-out;
    will-change: opacity, transform;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-8px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
