.wrapper {
    margin-bottom: 10px;
}

.heading-wrap {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

.heading {
    color: #242424;
    font-size: 2.4rem;
    font-weight: 900;
    margin-top: 16px;
    margin-right: 8px;
}

.sub-heading {
    color: #82919b;
    font-size: 1.4rem;
    margin-bottom: 0;
}

.label {
    background: var(--primary-gradient);
    border-radius: 8px;
    color: var(--white-color);
    padding: 2px 8px;
}

.body {
    min-height: 200px;
    padding-bottom: 0;
}
