.search,
.search-result {
    width: 420px;
}

.search {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 42px;
    padding-left: 16px;
    border-radius: 30px;
    border: 1px solid rgba(22, 24, 35, 0.2);
    transition: border-color 0.2s ease-in-out;
    overflow: hidden;

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.6);
    }
}

.search-input {
    flex: 1;
    height: 100%;
    font-size: 1.6rem;
    color: var(--black-color);
    background-color: transparent;
    caret-color: red;

    &:not(:placeholder-shown) ~ .btn-search {
        color: rgba(22, 24, 35, 0.6);
    }
}

.btn-search {
    color: #a6a7ab;
    transition: color 0.2s ease-in-out;

    &:hover {
        color: rgba(22, 24, 35, 0.3);
    }

    &:active {
        color: rgba(22, 24, 35, 0.6);
    }
}

.search-result {
    padding: 10px 0;
    box-shadow: 0 -4px 32px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    animation: fadeIn 0.3s ease;
    transition: all 0.3s ease-in-out;
    will-change: opacity, transform;
    background-color: var(--white-color);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-8px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
